.super-mario {
    width: 200px;
    margin-left: 100px;
    position: absolute;
  }
  
  .goomba {
    width: 100px;
    margin-top: 300px;
    margin-left: 150px;
  }
  
  .baloon {
    margin-left: 100px;
    margin-top: 150px; 
    position: absolute;
    z-index: 2;
  }
  
  .speach {
    font-size: 25px;
    margin-left: 370px;
    margin-top: -230px;
    position: absolute;
    z-index: 3;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    margin-top: 300px;
    margin-left: 400px;
    z-index: 1; 
  }